.footer {
    width: 100%;
    height: auto;
    background-color: black;
    align-items: center;
    justify-content: end;
    padding-top: 1em;
    padding-bottom: 2em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer p {
    color: white;
}